body {
  font-family: "Open Sans", arial black;
  background-image:url("http://orig06.deviantart.net/c711/f/2016/175/7/2/gay_typography_by_pride_flags-da7jf0z.png")

}
h1 {
  color: purple
}
p {
  color: palevioletred
}
h2 {
  color:aliceblue
}
h3 {
  color: aliceblue
}
