body {
  font-family: "Open Sans", arial black;
  background-image:url("https://d7hftxdivxxvm.cloudfront.net/?resize_to=width&src=https%3A%2F%2Fartsy-media-uploads.s3.amazonaws.com%2Fpj3o231MA6ygMyYxAOT_EQ%252F1024px-Rainbow_flag_breeze%2Bcopy.jpg&width=1200&quality=80")

}
h1 {
  color: purple
}
p {
  color: palevioletred
}
h2 {
  color:aliceblue
}
h3 {
  color: aliceblue
}
